.loader-palette-composition {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__white-loader-wrapper {
    background-color: #146AFF;
  }
}

.loader-overlay-composition {
  position: relative;
  background-color: #146AFF;

  .loader {
    height: 200px;
  }
}
