@import "src/sz-theme/_variables.scss";

.loader {
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  &--color-white {
    border-bottom-color: $color-white;
  }

  &--color-interactive {
    border-bottom-color: $color-interactive-light;
  }

  &--color-interactive-dark {
    border-bottom-color: $color-interactive-dark;
  }

  &--size-small {
    width: 14.5px;
    height: 14.5px;
    border-width: 2px;
  }

  &--size-medium {
    width: 34.5px;
    height: 34.5px;
    border-width: 4px;
  }

  &--size-large {
    width: 46.5px;
    height: 46.6px;
    border-width: 5px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
